.App{
  background-color: #0f172a;
  border-radius: 3rem;
  width: 400px;
  margin: 10px;
  height: 90vh;
  box-sizing: border-box;
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noch{
  width: 150px;
  height: 40px;
  border-bottom-left-radius:  1rem;
  border-bottom-right-radius: 1rem;
  background: black;
}
